<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>AtividadeWebCandidatos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>inclusao</display-name>
    <servlet-name>inclusao</servlet-name>
    <servlet-class>servlet.inclusaoCandidato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inclusao</servlet-name>
    <url-pattern>/inclusao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listar</display-name>
    <servlet-name>listar</servlet-name>
    <servlet-class>servlet.ListarCandidatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listar</servlet-name>
    <url-pattern>/listar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>excluir</display-name>
    <servlet-name>excluir</servlet-name>
    <servlet-class>servlet.ExcluirCandidato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>excluir</servlet-name>
    <url-pattern>/excluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>alterar</display-name>
    <servlet-name>alterar</servlet-name>
    <servlet-class>servlet.AlterarCandidato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alterar</servlet-name>
    <url-pattern>/alterar</url-pattern>
  </servlet-mapping>
</web-app>